<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <style>
      
       p {
           font: 20px arial, sans-serif;
           color: white;
       }
      
   </style>
</head>
<body style="background-color:#333CFF;">
    
    
    <p>Hello {{name}},</p>
    <p style="color: tomato; font-size: 15px">Please find your order details below</p><br><br>
    <p>Item Purchased: {{product_name}}</p>
    <p>Price: {{price}}</p>
    <p>Category: {{category_name}}</p>
    <p>Ordered on: {{purchased}}</p>
    <br>
    
</body>
</html>